<div class="yui-gd">
  <div class="yui-u first">
    <div class="dashbox">
      <h3>Technical Debt</h3>
      <p><span class="big"><%= format_measure('tech_debt', :prefix => '$ ', :suffix => '', :url => url_for_drilldown('tech_debt'), :default => '-')%></span></p>
      <p><span"><%= format_measure('tech_debt_days', :suffix => ' man days', :url => url_for_drilldown('tech_debt_days'), :default => '-') %></span></p>
    </div>
  </div>
  <div class="yui-u">
    <%
      labels = ""
      data = ""
      debt_measure = measure('tech_debt_repart')
      if (debt_measure != nil)
        debt_measure.data.split(';').each do |pair|
        labels = labels + "|" + pair.split('=')[0]
        data = data + "," + pair.split('=')[1]
      end
      labels = labels[1, labels.length]
      data = data[1, data.length]
    %>
    <%= gchart("chs=250x90&chd=t:#{data}&cht=p&chtt=Repartition&chl=#{labels}") -%>
    <%
      end
    %>
  </div>
</div>
