<%
   code_counters = measure('code_counters')
    
   if code_counters
       
      # create array of measures
      measures = Array.new
      for item in code_counters.data.split(';')
        measure = item.split('=')
        measures << measure
      end 
      
      # count total of lines.
      total_lines = 0  
      for measure in measures
        total_lines += Integer(measure[1])
      end
         
      # compose code distribution for pie chart
      code_distribution = '' 
      for measure in measures
        percentage = Integer(measure[1]) * 100 / total_lines 
        code_distribution << measure[0]
        code_distribution << '='
        code_distribution << percentage.to_s
        code_distribution << ';'
      end
%>
   
<div>
    <div class="dashbox" id="widget_lines" >
  
      <h3>Code size analysis</h3>
      <p><span class="big">
         
      <table>
        <% for measure in measures %>
            <tr>
                <td valign="top" nowrap><%= measure[0] %></td>
                <td style="padding-left: 10px;" align="right"><%= measure[1] %></td>
            </tr>
        <% end %>  
  
       </table>
    </div>
    <div> 
         <%= piechart(code_distribution, { :size => "240x180"}) -%>
    </div>
</div>
<% end %>