<div class="yui-gd">
  <div class="yui-u first">
    <div class="dashbox">
      <h3>Tags</h3>
      <p><span class="big"><%= format_measure('tags', :url => url_for_drilldown('tags'), :default => '-')%></span></p>
      <p><span"><%= format_measure('mandatory_tags', :suffix => ' mandatory', :url => url_for_drilldown('mandatory_tags'), :default => '-') %></span></p>
      <p><span"><%= format_measure('optional_tags', :suffix => ' optional', :url => url_for_drilldown('optional_tags'), :default => '-') %></span></p>
    </div>
  </div>
  <div class="yui-u">
    <%
      labels = ""
      data = ""
      tags_distrib = measure('tags_distribution')
      if tags_distrib
        tags_distrib.data.split(';').each do |pair|
          label = pair.split('=')[0]
          value = pair.split('=')[1]
          if value != '0'
            labels = labels + "|" + label
            data = data + "," + value
          end
        end
        labels = labels[1, labels.length]
        data = data[1, data.length]
    %>
    <%= gchart("chs=250x100&chd=t:#{data}&cht=p&chl=#{labels}") -%>
    <%
      end
    %>
  </div>
</div>